body *{
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 900;
}

body {
    background-image: url("https://raw.githubusercontent.com/asha0079/FIT3179-assignment2/main/img/background-img.jpg");
    background-color: gray;
}

.page {
    width: 850px;
    background-color: lightgray;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}